@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #285943;
  --primary-2: #8ed696;
  --primary-3: #bef3c4;
  --secondary: #3e4d5c;
  --secondary-2: #637381;

  --neutral-200: #cdcdcd;
  --neutral-100: #e4e4e4;
  --neutral-50: #f4f6f8;
  --neutral-0: #ffffff;

  --success: #8ed696;
  --warning: #f74044;
  --alert: #fbbb01;

  --box-shadow-black: 0 0.4rem 0.4rem 0 #00000040;

  --border-radius: 1.2rem;

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;

  &:focus {
    outline: none;
  }

  &::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 1rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 1rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-2);
  }
}

.logo {
  position: absolute;
  margin: 1.6rem;
  width: 4.5rem;
  height: 4.5rem;
}

body {
  background: var(--neutral-0);
  max-width: 1400px;
  margin: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;

  &:visited {
    color: unset;
  }
}

ul {
  list-style: none;
}